# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# shap/shap
node_modules
__pycache__
shap.egg-info
*.pyc
/build
/dist
/shap/cached_data
notebooks/local_scratch
docs/local
docs/_build
docs/generated/
.ipynb_checkpoints
.eggs
.ruff_cache
javascript/build/*
.vscode
.DS_Store
/notebooks/deep_explainer/mnist_data
/data/CRIC*
/docs/artwork/local
shap/_cext*
.idea
catboost_info
tests/local_scratch.py
tests/mnist_data
data/*
**/.coverage*
