ci:
  autoupdate_schedule: monthly

exclude: '.*tree_shap_paper.*|.*user_studies.*'

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.7
  hooks:
  - id: ruff
    types_or: [python, pyi, jupyter]
    args: [ --fix, --exit-non-zero-on-fix ]
  - id: ruff-format
    # Nb. python files currently excluded in ruff's config
    types_or: [python, pyi, jupyter]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: mixed-line-ending
  - id: trailing-whitespace
  - id: end-of-file-fixer
