# Requirements for running notebooks
-e .

# For running tests
# nose

# For neural network examples
# keras
# tensorflow
# torch
# torchvision
# transformers

# For decision tree examples
# xgboost
# catboost
# lightgbm
