name: Run unit tests

on: [push, pull_request]

jobs:
  run_tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python setup.py develop
          pip install .[test]
          pip install tensorflow xgboost matplotlib ipython codecov torch torchvision pylint sentencepiece
      - name: Test with pytest
        run: |
          python -m pytest tests
      - name: Run CodeCov
        run: |
          codecov
